[submodule "addons/ofxEtherdream"]
	path = addons/ofxEtherdream
	url = https://github.com/nandenjin/ofxEtherdream.git
[submodule "addons/ofxIlda"]
	path = addons/ofxIlda
	url = https://github.com/nandenjin/ofxIlda.git
